# Replace with your own Jira instance's base host address:
JIRA_BASE_URL="https://your-atlassian-instance.atlassian.net"

# Replace with yoour own source and destination project's key (the prefix in every issue key)
SOURCE_PROJECT_KEY="XX"

# Set this to a test project that you can experiment with as your default target in case you need to clean up a mess.
TARGET_PROJECT_KEY="YY"

# Replace with the email associated with your Jira account:
JIRA_USER_EMAIL="your@email.address.tld"

# Go to your Jira settings to generate an API key for yourself:
JIRA_API_TOKEN="THE-API-TOKEN-YOU-GENERATED"

# Either set the source Issue's ID here if you want to clone it, or leave it commented to define it from the shell environment:
# SOURCE_ISSUE_ID="XX-123"

# List of custom fields that you want to copy from the source issue to the target issue:
# CUSTOM_FIELDS="10016,10025,10027"

# List of fields to not copy from the source issue to the target issue:
SKIP_FIELDS="assignee,duedate"

# Set this to true if you want to copy the comments from the source issue to the target issue:
COPY_CLONE_ORIGIN_COMMENTS="false"

# Set this to false if you don't want verbose output (default true):
VERBOSE_OUTPUT="true"

# Set this to true if you want debug output (default false):
DEBUG_OUTPUT="false"
